footer{
    background-color: #171515;
    text-align: center;
    padding-left: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 4vh;
    color: white;
    border-radius: 10px;
}

p {
    font-size: 16px;
}